.jumbotron{
background-color: #5CA3FF;
color : black;
}

.card-region{
	flex: 1 250px;
	padding: 2px 10px 2px 5px;
	margin-top: 10px;
}

footer {
padding: 10px 10px 10px;
margin-bottom: 0px;
margin-top: 10px;
}

}